<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Document</title>
</head>
<body>
   <div ng-controller="Mycontroller as lista1">
<h3>To Buy:</h3>
<ol>
    <li ng-repeat="item in lista1.items">
       Buy {{item.quantity}} {{item.name}} 
        <button ng-click="lista1.add(item)">Bought</button>
    </li>
</ol>
<p ng-if="lista1.items.length === 0">Everything is bought!</p>
   </div>

   <div ng-controller="Mycontroller2 as lista2">
    <h3>Already Bought</h3>

    <ol>
        <li ng-repeat="item in lista2.items">
            Bought {{item.quantity}} {{item.name}}
        </li>
    </ol>
    <p ng-if="lista2.items.length === 0">Nothing bought yet</p>
   </div>
    
</body>
</html>