#chkbox{
    width:60%;
    height:30px;
    margin-bottom: 20px;
}
.fontred{
    color: red;
    border-color: red;
}
.fontgreen{
    color: green;
    border-color: green;
}
#btn-1{
    margin-top: 20px;
}